*.la
*.lo
.deps
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libdommunity-*.tar.gz
libtool
ltmain.sh
missing
