*.la
*.lo
*.o
.deps
.dirstamp
.libs/
.vscode/
/src/tests
/src/tests.log
/src/tests.trs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libdommunity-*.tar.gz
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
test-driver
test-suite.log
